body{
	margin: 0 auto;
	font-family: 'Arvo', serif;
	/*background-image: url(../IMG/background.jpg);
	background-size: contain;*/
	background-color: grey;
	width: 100%;
	height: auto
}


header{
	width: 100%;
	margin: 0 auto;
	background-color: skyblue;
}

.name p{
	margin: 0 auto;
	text-align: center;
	padding: 3%;
	color: white;
	font-weight: bold;
	letter-spacing: 6px;
}

.content{
}

.about{
	width: 90%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	clear: both;

}

.texto-about{
	margin-top: 5%;
}

.texto1{
	margin-top: 5%;
	width: 48%;
	height: auto;
	margin: 0 auto;
	margin-right: 2%;
	float: left;
	background-color: white;
}

.texto1 h3{
	margin-top: 5%;
	margin-left: 5%;
}

.texto1 p {
	margin-left: 5%;
	margin-bottom: 8%;
}

hr{
	border: 0.5px solid grey;
}

.texto1 a{
	text-decoration: none;
	color: blue;
	margin-left: 5%;
	margin-bottom: 5%;
}

.texto2{
	width: 50%;
	height: auto;
	margin: 0 auto;
	float: right;
	background-color: white;
}

textarea{
	border: none;
	border-bottom: 1px solid grey;
	padding-top: 2%;
	padding-bottom: 8.3%;
	width: 90%;
	resize: none;
}

button{
	padding: 3%;
	border: none;
	background-color: skyblue;
	margin-top: 1%;
	margin-bottom: 3%;
	letter-spacing: 3px;
	margin-left: 3%;
	font-family: 'Arvo', serif;
	border-radius: 6px;
}

.grey{
	padding: 3%;
	border: none;
	background-color: grey;
	color: black;
	margin-top: 1%;
	margin-bottom: 3%;
	letter-spacing: 3px;
	margin-left: 3%;
	font-family: 'Arvo', serif;
	border-radius: 6px;
}

#contenedor{
	width: 80%;
	height: auto;
	margin: 0 auto;
}

.color {
	margin-bottom: 5%;
	background-color: white;
	padding-top: 3%;
	padding-bottom: 3%;
	border-radius: 6px;
}